# EditorConfig is awesome: https://EditorConfig.org

# Root file
root = true

# Optimezed to UNIX like OS
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Minified SVGs don't need newline.
[*.svg]
insert_final_newline = false
